.swal2-popup{
    background-color: #cc3f55 !important;
    color: #fff !important;
}

.swal2-confirm {
    background-color: #73061b !important;
}

/* icones */

.swal2-warning {
    border-color: #fff !important;
    color: #fff !important;
}

/*success icon*/
.swal2-success .swal2-success-ring {
    border: 1px solid #fff !important;
    border-color: #fff !important;
    color: #fff !important;
}

.swal2-success [class^=swal2-success-line]{
    background-color: #fff !important;
}